@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-loading {
  width: 16px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.dropdown-loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 50%, #ffff);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 5) 25%;
  animation: l4 1s infinite linear;
}
@keyframes l4 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.darkGlowBackground {
  background: rgba(97, 97, 214, 0.5);
  border-top: 1px solid #7777ff;
  border-right: 1px solid #7777ff;
  border-left: 1px solid #7777ff;
  box-shadow: 4px 4px 20px 8px #7878fa26;
}

.lightGlowBackground {
  background: #6161d680;
  border-top: 1px solid #7979ff;
  border-right: 1px solid #7979ff;
  border-left: 1px solid #7979ff;

  box-shadow: 4px 4px 20px 8px #7878fa26;
}

.lightGlowBackground p {
  color: white;
}

.lightGlowBackground span:first-child {
  color: #ffffffb2;
}

.skeleton {
  animation: skeleton-loading 0.5s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsla(201, 20%, 80%, 0.792);
  }
  100% {
    background-color: hsla(204, 20%, 95%, 0.753);
  }
}

.chart-loading-line {
  height: 27px;
  aspect-ratio: 5;
  --c: hsla(201, 20%, 80%, 0.792) 90deg, #0000 0;
  background: conic-gradient(from 135deg at top, var(--c)),
    conic-gradient(from -45deg at bottom, var(--c)) 12.5% 100%;
  background-size: 20% 50%;
  background-repeat: repeat-x;
  clip-path: inset(0 100% 0 0);
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  90%,
  to {
    clip-path: inset(0);
  }
}

.chart-loading-bar {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(hsla(201, 20%, 80%, 0.792) 0 0);
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  animation: bar 1s infinite linear;
}
@keyframes bar {
  0% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
  20% {
    background-size: 20% 60%, 20% 100%, 20% 100%;
  }
  40% {
    background-size: 20% 80%, 20% 60%, 20% 100%;
  }
  60% {
    background-size: 20% 100%, 20% 80%, 20% 60%;
  }
  80% {
    background-size: 20% 100%, 20% 100%, 20% 80%;
  }
  100% {
    background-size: 20% 100%, 20% 100%, 20% 100%;
  }
}

.success {
  padding: 18px 22px 18px 16px;
  border-radius: 6px;

  background: #00b1a780;
  border: 1px solid #00b4a8;
  border-image-source: linear-gradient(
      180deg,
      #00b4a8 0%,
      rgba(0, 180, 168, 0) 100%
    )
    linear-gradient(
      180deg,
      color(display-p3 0 0.694 0.655) 0%,
      color(display-p3 0 0.694 0.655 / 0) 100%
    );
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
